github "ReactiveX/RxSwift" ~> 5.0
github "RxSwiftCommunity/RxOptional"
github "RxSwiftCommunity/RxGesture"

github "ashleymills/Reachability.swift"

github "realm/realm-cocoa"

github "sgr-ksmt/Alertift"
github "onevcat/Kingfisher"
